@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.blue.200') theme('colors.blue.50');
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: theme('colors.blue.50');
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.blue.200');
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme('colors.blue.300');
  }
}

@layer utilities {
  .custom-scrollbar2 {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.blue.200') theme('colors.white');
  }

  .custom-scrollbar2::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar2::-webkit-scrollbar-track {
    background: theme('colors.white');
    border-radius: 4px;
  }

  .custom-scrollbar2::-webkit-scrollbar-thumb {
    background: theme('colors.white');
    border-radius: 4px;
  }

  .custom-scrollbar2::-webkit-scrollbar-thumb:hover {
    background: theme('colors.white');
  }
}